body {
  background-color: #d7e9b9;
  font-family: Montserrat;
}
img {
  margin-top: 5%;
  border: 5px solid #fff;
  border-radius: 5%;
  width: 900px;
  height: 500px;
  object-fit: cover;
}
.head {
  display: inline-block;
  justify-content: center;
  color: #faab78;
}

.card {
  display: inline-block;

  background-color: #d7e9b9;
  border: none;
}
.card_info {
  text-align: center;
}

@media (max-width: 400px) {
  .calculator-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  .img-holder {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
}

@media (max-width: 600px) {
  .calculator-image {
    width: 200px;
    height: 300px;
  }
  .img-holder {
    width: 200px;
    height: 300px;
  }
}

#preloader {
  background: #f1f2f3 url(loder.gif) no-repeat center center;
  background-size: 15%;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
}

.background {
  width: auto;
  text-align: center;
  padding: 15px;
  border: 3px;
}
.resume_image {
  max-width: 100%;
  height: auto;
}
