body{
  background-color: #D7E9B9;
}


.head{
  display: flex;
  justify-content: center;
  color: #FAAB78;
}
.card{
  position:relative ;
  margin-top: 5%;
  margin-left: 30%;
  height: 240px;
  width: 600px;
}
.card_info{
  text-align: center;
}
