body {
  font-family: Montserrat;
  width: 100%;
  line-height: 1.5;
  background-color:black;
}
p{
  font-size: 20px;
}
.main_text{
  font-size: 200%;
}
@media only screen and (max-width: 600px) {
  .main-screen{
  backgr
  }
  .main_text{
  font-size: 190%;
}
}
/* https://loading.io/asset/642845  */
/* https://media.giphy.com/media/l3q2RgN7WUjeUUXm0/giphy.gif  */

.main-screen{
  background-image:url('Speedline.svg');
  background-repeat:repeat;
  height: auto;
  background-size:100% 100%;
  width: 100%;

}

.logo{
  height:50px;
  width: 50px;
  border-radius: 5px;
}
.logo_text{

  margin-left: 15px;
}
a{
  color:#FAF8F1;
  text-decoration: none;
  padding-left: 20px;
}
.container-fluid{
  padding-top: 5px;
  color:#FAF8F1;
}
.name-logo{
  display:flex;
  padding-left: 10px;

}
.navigation{
  text-align: right;
}


.front-page{
  color:#FAF8F1;
  padding-top: 10%;
  width: 20%;
  top: 10%;
  position:relative;
  left: 30%;

  margin-bottom: 440px;
}

.about{
  background-color: #1A120B;
  padding-top: 2%;
  padding-left: 10%;
  padding-bottom: 2%;
}
.avatar{
  display: grid;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.about_text{
  padding: 5px;
  line-height: 1.5;
  word-spacing: 2px;
  color: #E5E5CB;
  font-size: 25px;
}
.skills{
  background-color: #3C2A21;
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 5%;

}
.skills_text{
  padding: 5px;
  line-height: 1.5;
  word-spacing: 2px;
  color: #E5E5CB;
  font-size: 25px;
}
.skill-bar{
  display: flex;
}
.skill{
  display: grid;
  justify-content: center;
  align-items: center;
}
.progress_bar{
  background-color: #959595;
  width: 300px;
  height: 2px;
  border-radius: 5px;
  margin-bottom: 5%;
}
.progress_bar .bar{
  height: 2px;
  border-radius: 5px;
}

.html{
  background-color: #08fdd8;
  width: 86%

}
.css{
  background: rgb(255, 34, 83);
  width: 76%

}
.javascript{
  background: rgb(210, 108, 213);
  width: 56%

}
.python{
  background-color: #cddc39;
  width: 66%
}
.title{
  color:#D5CEA3;
  animation-delay: 2s;
}
.contact{
  padding-top: 5%;
  background-color: #1A120B;
  padding-bottom: 5%;

}
.contact_title{
  padding-left: 10%;
  color:#ECE8DD;
  animation-delay:4s;
  font-size: 25px;
}
.contact_text{
  padding: 5px;
  padding-left: 11%;
  line-height: 1.5;
  word-spacing: 2px;
  color: #E5E5CB;
}
.contact_links{
  display:flex;
  justify-content: center;
  align-items:center;

}
.icons{
  color: white;
  height: 30px;
  width: 30px;
  font-size: 20px;
  padding: 2%;
}
#preloader{
  background: #f1f2f3 url(loder.gif) no-repeat center center ;
  background-size: 15%;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
}
