
.main-screen{
  background-image:url('https://media.giphy.com/media/l3q2RgN7WUjeUUXm0/giphy.gif');
  background-repeat:repeat;
  height:660px;
  background-size:100% 100%;
}
.logo{
  height:50px;
  width: 50px;
  border-radius: 5px;
}
.logo_text{
  margin-left: 15px;
}
a{
  color:#FAF8F1;
  text-decoration: none;
}
.container{
  padding-top: 5px;
  color:#FAF8F1;
}
.name-logo{
  display:flex;
  padding-left: 10px;

}
.navigation{
  text-align: right;
}


.front-page{
  color:#FAF8F1;
  padding-top: 10%;
  width: 20%;
  top: 10%;
  position: absolute;
  left: 40%;
  border-bottom: 5px solid white;
  overflow: hidden;
  animation: animate 2s linear forwards;
}
@keyframes animate {
     0% {
         width: 0px;
         height: 0px;
     }
     30% {
         width: 50px;
         height: 0px;
     }
     60% {
         width: 50px;
         height: 80px;
     }
 }
.about{
  background-color: #FAF8F1;
  padding-top: 5%;
  padding-left: 10%;
}

.title{
  color:#439A97;
  animation-delay: 2s;
}
span{
  padding-left:20px;
}
.contact{
  padding-top: 5%;
  background-color: #1A120B;
  padding-bottom: 5%;
}
.icons{
  color: white;
  height: 30px;
  width: 30px;
}
.contact_links{
  display:flex;
  justify-content: center;
  align-items:center;

}
.contact_title{
  padding-left: 10%;
  color:#ECE8DD;
  animation-delay:4s;
}
